@import '/sass/variables';

.results{
    max-width: 790px;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    font-family: $primary-font;
    -webkit-box-shadow: 10px 8px 24px 0px rgba(182,169,201,1);
    -moz-box-shadow: 10px 8px 24px 0px rgba(182,169,201,1);
    box-shadow: 10px 8px 24px 0px rgba(182,169,201,1);
    border-radius:1.5rem;
    

    &__percentage{
      max-width: 22rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:space-between;
      border-radius: 1.5rem;
      background-color:$Light-royal-blue;
      padding: 1.5rem ;
      gap: 30px;
      background: rgb(99,64,252);
      background: linear-gradient(180deg, rgba(99,64,252,1) 29%, rgba(76,55,244,1) 56%, rgba(50,45,235,1) 84%);
    }
    &__summary {
       background-color: $White;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: flex-start;
       gap: 40px;
       border-radius: 1.5rem;
       padding: 1.5rem ;
    }

    @media(min-width:768px){
     
        flex-direction: row;
        border-radius:1.5rem;
        max-width: 790px;
      &__percetange{
        max-width: 25rem;
      }  
    }
}
.percentage{
  
    &__title{
      color: $Light-lavender;
      
      font-weight: $font-medium;
    }
    &__score{
      width: 5rem;
      height: 5rem;
      padding: 5rem 5rem;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: rgb(74,36,207);
      background: linear-gradient(180deg, rgba(74,36,207,1) 29%, rgba(69,46,225,1) 56%, rgba(50,45,235,1) 84%);      
      @media (min-width:768px){
      
          padding: 6.5rem 6.5rem;
      
      }
    }


    &__description{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
      
      & h2{

         color: $White;
         letter-spacing: 1.3px;
         font-size: 1.4rem;
         font-weight: $font-bold;
      }
      & p {
        color: $Light-lavender;
        font-weight: 500;
        width: 80%;
        text-align: center;
      }
    }
     
.score{
      &__result{
        color: $White;
        font-size: 4rem;
        font-weight: $font-bold  ;
      }
      &__number{
      color: $Light-lavender;
      width: 3rem;
       font-weight: $font-medium;
      }
}

.summary{
  & h2{

    font-weight: $font-bold;
    font-size: 1.2rem; 
    
}
.container-skills{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 20px;


    &__item{
      width: 16rem;
      display: flex;
      justify-content: space-between;
      padding: 0.9rem 1rem;
      align-items: center;
      border-radius: 0.5rem;
    }
    
  }
}
.item{
  &__name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
  }
  /*single styles*/
  &__reaction{
    background-color: hsla(0, 100%, 67%, 0.082);
    &-span{
      color: $Light-red;
    } 
  } 
  &__memory{
    background-color: hsla(39, 100%, 56%, 0.094);
    &-span {
      color: $Orangey-yellow;
    } 
  }
  &__verbal{
    background-color: hsla(166, 100%, 37%, 0.093);
    &-span {
      color: $Green-teal;
    } 
  }  
  &__visual{
    background-color: hsla(234, 85%, 45%, 0.096);
    &-span {
      color: $Cobalt-blue;
    } 
  }  


  &__score{
    color:#00000075;
    font-weight: $font-medium;
  }  
  &__span{
    color: #000;
    font-weight: $font-bold;
  }
  &__button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & > button{
      width: 18rem;
      background-color: $Dark-gray-blue;
      font-size: 1.2rem;
      font-weight: $font-bold;
      letter-spacing: 1.2px;
      color:$White;
      border: none;
      border-radius: 4rem;
      padding: 1rem;
      transition: ease-in-out 0.5s;
      &:hover{
        background-color:#2e2c86;
      }
      
    } 

  }  
}