@import '/sass/variables';

.results{
    max-width: 790px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    font-family: $primary-font;
    background-color: $White;
    border-top-right-radius:1.5rem;
    border-top-left-radius: 1.5rem;
    &__percentage{
      max-width: 22rem;
      min-height: 45vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:space-between;
      border-radius: 1.5rem;
      background-color:$Light-royal-blue;


    }
    &__summary {
       background-color: $White;
       padding: 1.5rem 1.5rem;
       min-height: 45vh;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: flex-start;
       gap: 40px;
    }

    @media(min-width:768px){
      &{
        flex-direction: row;
        border-bottom-left-radius: 1.5rem;
        max-width: 790px;
      }
      &__percetange{
        max-width: 25rem;
      }  
    }
}
.percentage{
  
    &__title{
      color: $Light-lavender;
      
      font-weight: $font-medium;
    }
    &__score{
      width: 80px;
      height: 80px;
      padding: 1.8rem 1.8rem;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: rgb(26,42,182);
      background: linear-gradient(180deg, rgba(26,42,182,1) 31%, rgba(26,36,195,1) 60%, rgba(46,43,233,1) 98%);
      & > :first-child{
        color: $White;
         font-size: 4rem;
         font-weight: $font-bold  ;
      }
      & > :last-child{
        color: $Light-lavender;
       
        font-weight: $font-medium;
      }
      @media (min-width:768px){
        &{
          padding: 4rem 4rem;
        }
      }

    }
    &__description{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-block-start: 1.2rem;
      padding-block-end: 1.2rem;
      gap: 10px;
      
      & > h3{
         margin: 0;
         color: $White;
         letter-spacing: 1.3px;
         font-size: 1.4rem;
         font-weight: $font-bold;
      }
      & > p {
        color: $Light-lavender;
        font-weight: 500;
        width: 80%;
        text-align: center;
        margin: 0;
      }
     }
} 
.summary{
  & > h2{
    margin: 0;
    font-weight: $font-bold;
    font-size: 1.2rem; 
    
}
.container-skills{
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 20px;


    &__item{
      width: 16rem;
      margin: 0;
      text-decoration: none;
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding: 0.9rem 1rem;
      align-items: center;
      border-radius: 0.5rem;
    }
    
  }
}
.item{
  &__name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
  }
  /*single styles*/
  &__reaction{
    background-color: hsla(0, 100%, 67%, 0.082);
    & > :first-child > span {
      color: $Light-red;
    } 
  } 
  &__memory{
    background-color: hsla(39, 100%, 56%, 0.094);
    & > :first-child > span {
      color: $Orangey-yellow;
    } 
  }
  &__verbal{
    background-color: hsla(166, 100%, 37%, 0.093);
    & > :first-child > span {
      color: $Green-teal;
    } 
  }  
  &__visual{
    background-color: hsla(234, 85%, 45%, 0.096);
    & > :first-child > span {
      color: $Cobalt-blue;
    } 
  }  


  &__score{
    & > span{
      color: #000;
      font-weight: $font-bold;
    }
    color:#00000075;
    font-weight: $font-medium;
  }  
  &__button{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    & > button{
      width: 18rem;
      background-color: $Dark-gray-blue;
      font-size: 1.2rem;
      font-weight: $font-bold;
      letter-spacing: 1.2px;
      color:$White;
      border: none;
      border-radius: 4rem;
      padding: 1rem;
      transition: ease-in-out 0.5s;
      cursor: pointer;
      &:hover{
        background-color:#2e2c86;
      }
      
    } 

  }  
}