@use '../general' as *;
.percentage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    border-radius: 1.5rem;
    background-color:$Light-royal-blue;
    padding: 1.5rem;
    gap: 1.875rem;
    background: linear-gradient(180deg, rgba(99,64,252,1) 29%, rgba(76,55,244,1) 56%, rgba(50,45,235,1) 84%);

    @media(min-width:768px){
        max-width: 25rem;
    }

    
    &__title{
        color: $Light-lavender;
        
        font-weight: $font-medium;
      }
      &__score{
        padding: 3rem 4.5rem;
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(180deg, rgba(74,36,207,1) 29%, rgba(69,46,225,1) 56%, rgba(50,45,235,1) 84%);      

        @media (min-width:768px){
        
            padding: 3.5rem 5rem;
        
        }
        
      }
      
  
  
      &__description{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }
        
        & h2{
  
           color: $White;
           letter-spacing: 0.0813rem;
           font-size: 1.4rem;
           font-weight: $font-bold;
        }
        & p {
          color: $Light-lavender;
          font-weight: 500;
          width: 80%;
          text-align: center;
        }
  }


.score{
    &__result{
      color: $White;
      font-size: 4rem;
      font-weight: $font-bold  ;
    }
    &__number{
    color: $Light-lavender;
    width: 3rem;
     font-weight: $font-medium;
    }
}