@use '../general' as *;
.summary {
    background-color: $White;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.5rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
    & h2{

        font-weight: $font-bold;
        font-size: 1.2rem; 
    }      
    &__link{
        width: 18rem;
        background-color: $Dark-gray-blue;
        font-size: 1.2rem;
        font-weight: $font-bold;
        letter-spacing: 0.075rem;
        color:$White;
        border: none;
        border-radius: 4rem;
        padding: 1rem;
        transition: ease-in-out 0.5s;
        text-align: center;
        cursor: pointer;
        &:hover{
          background-color:#2e2c86;
        }
    }    
 }
 .container-skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;

    gap: 1.25rem;


    &__item{
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0.9rem 1rem;
      align-items: center;
      border-radius: 0.5rem;
    }
    
  }

  .item{
    &__name{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.3rem;
    }
    /*single styles*/
    &__reaction{
      background-color: hsla(0, 100%, 67%, 0.082);
      &-span{
        color: $Light-red;
      } 
    } 
    &__memory{
      background-color: hsla(39, 100%, 56%, 0.094);
      &-span {
        color: $Orangey-yellow;
      } 
    }
    &__verbal{
      background-color: hsla(166, 100%, 37%, 0.093);
      &-span {
        color: $Green-teal;
      } 
    }  
    &__visual{
      background-color: hsla(234, 85%, 45%, 0.096);
      &-span {
        color: $Cobalt-blue;
      } 
    }  
  
  
    &__score{
      color:#00000075;
      font-weight: $font-medium;
    }  
    &__span{
      color: #000;
      font-weight: $font-bold;
    }

   
  
    }  
