@use '../general' as *;

.summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $White;
  gap: 2.5rem;
  border-radius: 1.5rem;
  padding: 2rem;

  @media (min-width: 48rem) {
    width: 25rem;
  }

  &-title {
    font-weight: $font-bold;
    font-size: 1.2rem;
  }

  &-container-cardSkill {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 1.25rem;
  }
}
